// include config 
includeConfig 'conf/resources.config'

singularity {
    enabled = true
    autoMounts = true
}

// Report configurations
report {
    enabled = true
    file = "${params.output_dir}/report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.output_dir}/timeline.html"
    overwrite = true
}

// Global executor settings
process {
    executor = 'slurm'
    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'terminate' }
    maxRetries = 3
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: local {
        executor = 'local'
    }

    withLabel: cpu_high {
        cpus = { 8 * Math.pow(2, task.attempt - 1) }
        queue = "${params.cpu_queue}"
        memory = { 32.GB * Math.pow(2, task.attempt - 1) }
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withLabel: gpu_high {
        cpus = 8
        queue = "${params.gpu_queue}"
        memory = '32 GB'
        clusterOptions = "--nodes=1 --cpus-per-task=8 --gres=gpu:1 --constraint='GPU_MEM:80GB|GPU_MEM:48GB|GPU_MEM:40GB'"
    }
}