// include config 
includeConfig 'conf/resources.config'

singularity {
    singularity.container = "/scratch/users/nphill22/projects/corsello_lab/20241117_alphafold/alphafold3.sif"
    singularity.enabled = true
    singularity.autoMounts = true
}

// Report configurations
report {
    enabled = true
    file = "${params.output_dir}/report.html"
}

timeline {
    enabled = true
    file = "${params.output_dir}/timeline.html"
}

// Global executor settings
process {
    executor = 'local'
    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'terminate' }
    maxRetries = 3
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: cpu_high {
        cpus = 4
        queue = "normal,owners,arasha,dkurtz"
        memory = '16 GB'
        clusterOptions = "--nodes=1 --cpus-per-task=8 --mem=32G"
    }
    
    withLabel: gpu_high {
        cpus = 2
        queue = "owners,gpu"
        memory = '4 GB'
        clusterOptions = "--nodes=1 --cpus-per-task=8 --mem=32G --gres=gpu:1 --constraint=GPU_MEM:80GB"
    }
}