params {
    // RESOURCES
    pipeline_script_dir = "${projectDir}/scripts"
    singularity_image = "/scratch/users/nphill22/shared/AF3_resources/alphafold3.sif"
    database_root = "/scratch/users/nphill22/shared/AF3_resources/databases"
    code_root = "/scratch/users/nphill22/projects/corsello_lab/20241117_alphafold/alphafold3"

    // scratch dir
    scratch_dir = "/scratch/users/${workflow.userName}/af3_resources"
    cached_singularity_image = "${scratch_dir}/alphafold3.sif"
    cached_database_root = "${scratch_dir}/databases"
    cached_code_root = "${scratch_dir}/alphafold3"

    // queues
    cpu_queue = "normal,arasha,dkurtz"
    gpu_queue = "owners,gpu"
}