params {
    // RESOURCES
    pipeline_script_dir = "${projectDir}/scripts"
    singularity_image = "/scratch/users/nphill22/shared/AF3_resources/alphafold3.sif"
    database_root = "/scratch/users/nphill22/shared/AF3_resources/databases"
    code_root = "/scratch/users/nphill22/projects/corsello_lab/20241117_alphafold/alphafold3"
}